$brown : #963004;

*{
    margin: 0;
}

html,body{
    background-color: $brown;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .display{
        width: 100vw;
        height: 100%;
        padding-top: 1.5vh;
    }
    .search-component{
        width: 100%;
        height: 15vh;
        gap: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .select-list{
            width: 75%;
            display: flex;
            justify-content: center;
            gap: 20%;
        }
        select{
            padding: .75rem;
            background: transparent;
            border: none;
            border-top: 1px solid rgb(212, 212, 222);
            border-bottom: 1px solid rgb(212, 212, 222);
            color: white;
        }
        input{
            width: 75%;
            padding-bottom: 15px;
            border: none;
            color: white;
            background: transparent;
            border-bottom: 2px solid rgb(212, 212, 222);
            outline: none;
        }
        
    }
    .pokeList{
        height: calc(100vh - 10vh);
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        column-gap: 1%;
        row-gap: 2rem;
    }
    .pokelist .card{
        width: 100%;
    }
    .container_img
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 50%;
        padding-bottom: 50px;
    }
}