.type_component{
    width: 33%;
    height: 30px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.311);
    border-radius: 25px;
    align-items: center;
    padding: 2.5px;
    gap: 5px;
    background-color: white;
}
.type_component img{
    width: 25px;
    height: 25px;
    border-radius: 100rem;
}
.Plante{
    background: linear-gradient(0deg, #16e116 ,rgba(255, 255, 255, 0) 75%);
}
.Poison{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(135, 54, 135));
}
.Feu,.Fire{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(227, 168, 59));
}
.Vol{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(170, 170, 212));
}
.Eau{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(72, 72, 221));
}
.Insecte{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(65, 130, 65));
}
.Normal{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,gray);
}
.Sol{
    background: linear-gradient(to bottom,rgba(255,255,255) 25%, rgb(126, 70, 3));
}
.Électrik{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(245, 245, 28));
}
.Fée{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,pink);
}
.Combat{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(235, 197, 127));
}
.Psy{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(224, 95, 117));
}
.Roche{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(70, 70, 70));
}
.Acier{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,steelblue);
}
.Glace{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(209, 209, 244));
}
.Spectre{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(166, 115, 166));
}
.Dragon{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,blueviolet);
}
.Ténèbres{
    background: linear-gradient(to bottom,rgba(255,255,255,0) 25%,rgb(47, 47, 47));
}


