/* Loader.css */

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.5rem;
    color: white; /* Style le texte en blanc */
  }
  
  .pokeball-container {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .pokeball {
    width: 100%;
    height: 100%;
    animation: rotatePokeball 2s linear infinite;
  }
  
  .loading-text {
    margin-top: 10px; /* Ajoute un espace entre la pokeball et le texte */
  }
  
  
  @keyframes rotatePokeball {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  